#This is appended by Ambari TeXas code
Listen {{ oozie_port }}
<VirtualHost *:{{ oozie_port }}>
   ProxyRequests off
   ProxyPreserveHost on
   Header add Set-Cookie "ROUTEID=.%{BALANCER_WORKER_ROUTE}e; path=/" env=BALANCER_ROUTE_CHANGED
   <Proxy balancer://{{ cluster_name }}>
               BalancerMember {{ oozie_protocol }}://{{ oozie_host_0 }}:{{ oozie_port }} loadfactor=1 route=1 timeout=5 retry=60
               BalancerMember {{ oozie_protocol }}://{{ oozie_host_1 }}:{{ oozie_port }} loadfactor=1 route=1 timeout=5 retry=60
               BalancerMember {{ oozie_protocol }}://{{ oozie_host_2 }}:{{ oozie_port }} loadfactor=1 route=1 timeout=5 retry=60
               BalancerMember {{ oozie_protocol }}://{{ oozie_host_3 }}:{{ oozie_port }} loadfactor=1 route=1 timeout=5 retry=60
               BalancerMember {{ oozie_protocol }}://{{ oozie_host_4 }}:{{ oozie_port }} loadfactor=1 route=1 timeout=5 retry=60
               BalancerMember {{ oozie_protocol }}://{{ oozie_host_5 }}:{{ oozie_port }} loadfactor=1 route=1 timeout=5 retry=60
               Order Deny,Allow
                Deny from none
                Allow from all
                ProxySet lbmethod=bybusyness scolonpathdelim=On stickysession=ROUTEID maxattempts=1  failontimeout=on failonstatus=500,501,502,503 nofailover=Off
        </Proxy>
        <Location /balancer-manager>
                SetHandler balancer-manager
                Order deny,allow
                Allow from all
        </Location>
       ProxyPass /balancer-manager !
       ProxyPass / balancer://{{ cluster_name }}/
       ProxyPassReverse / balancer://{{ cluster_name }}/
</VirtualHost>
